body {
    background: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGFibGUlMjB0b3B8ZW58MHx8MHx8&w=1000&q=80) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    padding: 1em;
}

span {
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 2000ms;
  }
  
  span:hover {
    text-decoration-color: rgba(235, 50, 81, 1);
  }
