body {
    background: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGFibGUlMjB0b3B8ZW58MHx8MHx8&w=1000&q=80) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    padding: 1em;
}